<!DOCTYPE ejs>
<html>
<head>
<meta charset="utf-8">
<title>Guestbook</title>
<meta charset="utf-8"><meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/gbapps.css">
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body id="body1">
<header>
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
<!--
          <img src="anil.jpg" class="img-circle" height="60" width="60" caption align="left"/> 
          <a class="navbar-brand" href="#">Akula Anil Seshu Kumar</a>
-->
          <ul class="nav navbar-nav">
   <li><a href="index.html">HOME</a></li>
  <li><a href="http://127.0.0.1:8081/gpa.html">GPA</a></li>
  <li><a href="http://127.0.0.1:8081/contact.html">CONTACT</a></li>
  <li><a href="http://127.0.0.1:8081/akula_anilseshukumar.html">ABOUT ME</a></li>
  <li class="active"><a href="http://127.0.0.1:8081/views/index.ejs">guestbook</a></li>
</ul>
</nav>
</header>
<br><br><br><br>
<h1>
Anil Guestbook
<a href="http://127.0.0.1:8081/views/new-entry" class="btn btn-info pull-right">
    <center>Write in the guestbook</center>
</a>
</h1>