#Intro{
	color: #2db708;
	font-family: Arial black;
	font-size: 30px;	
}
h3{
	color: #339fff;
	font-family: Times New Roman;
	font-size:25px;
}

.plan{
	color: #339fff;
	font-family: Times New Roman;
	font-size:25px;
}
.interest{
	color: #339fff;
	font-family: Times New Roman;
	font-size:25px;
}
P{
	color: #07F5A6;
	font-family: Palatino Linotype;
	font-size:20px;
}
li{
	color : #d717f5;
	font-size:18px;
	font-family: Verdina;
}